<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head th:replace="partials/elements :: head(title='Search')"></head>
<body>
<nav th:replace="partials/elements :: navbar"></nav>


<section class="container" id="content-area">
    <h1>Search Media Database</h1>
    <form th:action="@{/search}" th:method="GET">
        <div class="form-group">
            <label for="search">search</label>
            <input type="text" class="form-control" id="search" name="q">
        </div>
        <button type="submit" class="btn btn-danger">Submit</button>
    </form>
</section>

<th:block th:replace="partials/elements :: footer"></th:block>
</body>
</html>