<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head th:replace="partials/elements :: head(title='Reviewing ' + ${movie.title})"></head>
<body>
<nav th:replace="partials/elements :: navbar"></nav>

<section class="container" id="content-area">
  <section class="container">
    <h1>Review for <span th:text="${movie.title}">media title</span></h1>
  </section>
  <div class="container">
    <form th:action="@{/reviews/create(imdb=${movie.imdb})}" th:method="post" th:object="${review}">
      <div class="form-group">
        <label>Review Title</label>
        <input th:field="*{title}" class="field" required>
        <br>
        <label >Review Body</label>
        <textarea class="form-control" th:field="*{body}" cols="30" rows="10" required></textarea>
        <br>
        <label>Score</label>
        <input th:field="*{rating}" type="number" max="5" min="0" required>
      </div>
      <button type="submit" class="btn btn-danger">Submit</button>
    </form>
  </div>
</section>



<th:block th:replace="partials/elements :: footer"></th:block>
</body>
</html>
