<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head th:replace="partials/elements :: head(title='Editing Review...')"></head>
<body>
<nav th:replace="partials/elements :: navbar"></nav>

<section class="container" id="content-area">
    <h1>Editing Review</h1>
    <form th:action="@{/reviews/edit(imdb=${movie.imdb})}" th:method="post" th:object="${review}">
        <input th:field="${user.id}" type="hidden"/>
        <input th:field="*{id}" type="hidden"/>
        <div class="form-group">
            <label>Review Title</label>
            <input th:field="*{title}" class="field" required>
            <br>
            <label >Review Body</label>
            <textarea class="form-control" th:field="*{body}" cols="30" rows="10" required></textarea>
            <br>
            <label>Score</label>
            <input th:field="*{rating}" type="number" max="5" min="0" required>
        </div>
        <button type="submit" class="btn btn-primary">Submit</button>
    </form>
</section>

<th:block th:replace="partials/elements :: footer"></th:block>
</body>
</html>
