<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head th:replace="partials/elements :: head(title='Review')"></head>
<body>
<nav th:replace="partials/elements :: navbar"></nav>


<section class="container" id="content-area">

    <div class="text-right">
        <p class="ml-auto mr-0">
            <a class="btn btn-danger"
               th:href="@{/reviews/index(user=${review.getUserContent().getId()})}"
               th:text="${'Back to ' + review.getUserContent().getUser().getUsername()}"></a>
        </p>
    </div>

    <h1 th:text="${review.title}"></h1>
    <h2><a th:href="@{/profile/{userId}(userId=${review.getUserContent().id})}" th:text="'Posted by: ' + ${review.getUserContent().getUser().username}"></a></h2>
    <h3><a th:href="@{/movies/{imdb}(imdb=${movie.getImdb()})}" th:text="'Reviewing ' + ${movie.getTitle()}">Movie</a></h3>
    <p>Created at: <span th:replace="partials/timestamp :: timeanddate(instant=${review.getCreatedAt().toInstant().atZone('GMT-0500')})"></span></p>
    <p th:text="${review.body}"></p>
    <p>Rating: <span th:text="${review.rating}"></span>/5</p>
    <p>
        <a th:href="@{/reviews/index(imdb=${movie.getImdb()})}" th:text="${'Back to ' + movie.title + ' reviews'}"></a>
    </p>


    <div class="likes container p-0 m-0">
        <p><i class="fa fa-thumbs-up"
              th:data-id="${review.id}"
              th:attr="id=${#authorization.expression('isAuthenticated()') ? 'like-button' : ''}"
        ></i>
            <span id="like-count" th:text="${likes}"></span></p>
        <a th:href="@{/report/{id}(id=${review.id})}">Report Abusive Content </a>
    </div>
  
    <div class="author-controls container d-flex p-0 m-0">
        <a class="btn btn-danger" th:href="@{/reviews/edit(imdb=${movie.getImdb()}, r=${review.id})}">Edit</a>
        <form class="ml-auto mr-0" method="post" th:action="@{/reviews/delete(imdb=${movie.getImdb()})}">
            <input type="hidden" name="review-id" th:value="${review.getUserContent().id}">
            <button type="submit" class="btn btn-danger">Delete</button>
        </form>
    </div>


</section>
<th:block th:replace="partials/elements :: footer"></th:block>
<script th:src="@{/js/like-button.js}"></script>
</body>
</html>