<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head th:replace="partials/elements :: head(title='FilmSage Index')"></head>
<body>
<nav th:replace="partials/elements :: navbar"></nav>

<section class="container" id="content-area">
    <div class="row">
        <div class="col-12 col-md-3">
            <img class="img-fluid d-block mx-auto mt-3" th:src="${movie.poster}" alt="Movie poster"/>
        </div>
        <div class="col-12 col-md-9">
            <h2 class="" th:text="${movie.title}"></h2>
            <h3 class="" th:text="${movie.year}"></h3>
            <p class="" th:text="${movie.plot}"></p>
            <ul class="list-group">
                <li class="list-group-item">Released: <span th:text="${movie.released}"></span></li>
                <li class="list-group-item">Runtime: <span th:text="${movie.runtime}"></span></li>
                <li class="list-group-item">Genre <span th:text="${movie.genre}"></span></li>
                <li class="list-group-item">Director(s): <span th:text="${movie.directors}"></span></li>
                <li class="list-group-item">Writers: <span th:text="${movie.writers}"></span></li>
                <li class="list-group-item">Actors: <span th:text="${movie.actors}"></span></li>
                <li class="list-group-item">Languages: <span th:text="${movie.languages}"></span></li>
                <li class="list-group-item">Countries: <span th:text="${movie.country}"></span></li>
                <li class="list-group-item">Awards: <span th:text="${movie.awards}"></span></li>
                <li class="list-group-item">Metascore: <span th:text="${movie.metascore}"></span></li>
                <li class="list-group-item">Box office revenue: <span th:text="${movie.boxOffice}"></span></li>
            </ul>
        </div>
    </div>
    <div class="row">
        <div class="col-12 col-md-6">
            <h2>Reviews</h2>
            <br/>
<!--        TODO: display recent reviews for this movie on the page instead of just this link to all -->
            <a class="btn btn-primary btn-block" th:href="@{/reviews/create(imdb = ${movie.imdbID})}">Create a Review!</a>
            <p><a th:href="@{/reviews/index(imdb = ${movie.imdbID})}">Show user reviews</a></p>
            <th:block th:replace="partials/review-list :: review-list(reviews=${reviews})"></th:block>
        </div>
        <div class="col-12 col-md-6">
            <h2>On Watchlists</h2>
            <br/>
            <div class="dropdown">
                <button class="btn btn-primary btn-block dropdown-toggle" type="button" id="watchlist-dropdown-button"
                        data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    Add to watch list...
                </button>
                <div class="dropdown-menu">
                    <a class="dropdown-item" th:each="watchlist: ${watchlists}"
                      th:href="@{/watchlist/{id}/add(id=${watchlist.id},imdb=${movie.imdbID})}"
                      th:text="${watchlist.title}">Watchlist title</a>
                    <a class="dropdown-item" th:href="@{/watchlist/create(imdb=${movie.imdbID})}">
                        A new watchlist
                    </a>
                </div>
            </div>
        </div>
</section>

<th:block th:replace="partials/elements :: footer"></th:block>
</body>
</html>