<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head th:replace="partials/elements :: head(title='FilmSage Index')"></head>
<body>
<nav th:replace="partials/elements :: navbar"></nav>

<section class="container" id="content-area">
    <div class="row">
        <div class="col-12 col-lg-4">
            <img class="img-fluid d-block mx-auto my-3" th:src="${movie.poster}" alt="Movie poster"/>
        </div>
        <div class="col-12 col-lg-8">
            <h2 class="" th:text="${movie.title}"></h2>
            <h3 class="" th:text="${movie.year}"></h3>
            <p class="" th:text="${movie.plot}"></p>
            <ul class="list-group">
                <li class="list-group-item">Released: <span th:text="${movie.released}"></span></li>
                <li class="list-group-item">Runtime: <span th:text="${movie.runtime}"></span></li>
                <li class="list-group-item">Genre <span th:text="${movie.genre}"></span></li>
                <li class="list-group-item">Director(s): <span th:text="${movie.directors}"></span></li>
                <li class="list-group-item">Writers: <span th:text="${movie.writers}"></span></li>
                <li class="list-group-item">Actors: <span th:text="${movie.actors}"></span></li>
                <li class="list-group-item">Languages: <span th:text="${movie.languages}"></span></li>
                <li class="list-group-item">Countries: <span th:text="${movie.country}"></span></li>
                <li class="list-group-item">Awards: <span th:text="${movie.awards}"></span></li>
                <li class="list-group-item">Metascore: <span th:text="${movie.metascore}"></span></li>
                <li class="list-group-item">Box office revenue: <span th:text="${movie.boxOffice}"></span></li>
            </ul>
        </div>
    </div>
    <div class="row d-none d-md-flex">
        <div class="col-12 col-md-6 mt-3">
            <h2>Reviews</h2>
            <div class="d-flex">
                <a class="btn btn-danger btn-block mr-1" th:href="@{/reviews/create(imdb = ${movie.imdbID})}">Create a
                    Review!</a>
                <a class="btn btn-danger btn-block mt-0 ml-1" th:href="@{/reviews/index(imdb = ${movie.imdbID})}">Show
                    Reviews</a>
            </div>
            <th:block th:replace="partials/review-list :: review-list(reviews=${reviews})"></th:block>
        </div>
        <div class="col-12 col-md-6 mt-3">
            <h2>Watchlists</h2>
            <div class="d-flex">
                <div class="dropdown mr-1">
                    <button class="btn btn-danger btn-block dropdown-toggle" type="button"
                            id="watchlist-dropdown-button"
                            data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        Add to watch list...
                    </button>
                    <div class="dropdown-menu">
                        <a class="dropdown-item" th:each="watchlist: ${userWatchlists}"
                           th:href="@{/watchlist/{id}/add(id=${watchlist.id},imdb=${movie.imdbID})}"
                           th:text="${watchlist.title}">Watchlist title</a>
                        <a class="dropdown-item" th:href="@{/watchlist/create(imdb=${movie.imdbID})}">
                            A new watchlist
                        </a>
                    </div>
                </div>
                <a class="btn btn-danger btn-block mt-0 ml-1" th:href="@{/watchlist(imdb = ${movie.imdbID})}">
                    Watchlists
                </a>
            </div>
            <div th:each="watchlist : ${watchlists}">
                <h3>
                    <a th:text="${watchlist.title}" th:href="@{/watchlist/{id}/show(id=${watchlist.id})}">
                        Watchlist title
                    </a>
                </h3>
                <p><a th:href="@{/profile/{userId}(userId=${watchlist.getUserContent().id})}"
                      th:text="${watchlist.getUserContent().getUser().getUsername()}"></a></p>
            </div>
        </div>
    </div>
    <div class="row d-block d-md-none">
        <br/>
        <ul class="nav nav-pills nav-fill my-2" role="tablist" id="mobile-tabs-nav">
            <li class="nav-item" role="presentation">
                <a class="nav-link active" href="#reviews" id="reviews-tab" data-toggle="tab" role="tab"
                   aria-controls="reviews" aria-selected="true">Reviews</a>
            </li>
            <li class="nav-item" role="presentation">
                <a class="nav-link" href="#watchlists" id="watchlists-tab" data-toggle="tab" role="tab"
                   aria-controls="reviews" aria-selected="false">Watchlists</a>
            </li>
        </ul>
        <div class="tab-content my-2" id="mobile-tabs-content">
            <div class="tab-pane fade show active" id="reviews" role="tabpanel" aria-labelledby="reviews-tab">
                <a class="btn btn-primary btn-block mb-1" th:href="@{/reviews/create(imdb = ${movie.imdbID})}">Create a
                    Review!</a>
                <a class="btn btn-primary btn-block mt-1" th:href="@{/reviews/index(imdb = ${movie.imdbID})}">Show
                    Reviews</a>
                <th:block th:replace="partials/review-list :: review-list(reviews=${reviews})"></th:block>
            </div>
            <div class="tab-pane fade mb-1" id="watchlists" role="tabpanel" aria-labelledby="watchlists-tab">
                <div class="dropdown">
                    <button class="btn btn-primary btn-block dropdown-toggle" type="button"
                            id="mobile-watchlist-dropdown-button"
                            data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        Add to watch list...
                    </button>
                    <div class="dropdown-menu w-100">
                        <a class="dropdown-item" th:each="watchlist: ${userWatchlists}"
                           th:href="@{/watchlist/{id}/add(id=${watchlist.id},imdb=${movie.imdbID})}"
                           th:text="${watchlist.title}">Watchlist title</a>
                        <a class="dropdown-item" th:href="@{/watchlist/create(imdb=${movie.imdbID})}">
                            A new watchlist
                        </a>
                    </div>
                </div>
                <a class="btn btn-primary btn-block mt-1" th:href="@{/watchlist(imdb = ${movie.imdbID})}">
                    Watchlists
                </a>
                <div th:each="watchlist : ${watchlists}">
                    <h3>
                        <a th:text="${watchlist.title}" th:href="@{/watchlist/{id}/show(id=${watchlist.id})}">
                            Watchlist title
                        </a>
                    </h3>
                    <p><a th:href="@{/profile/{userId}(userId=${watchlist.getUserContent().id})}"
                          th:text="${watchlist.getUserContent().getUser().getUsername()}"></a></p>
                </div>
            </div>
        </div>
    </div>
</section>

<th:block th:replace="partials/elements :: footer"></th:block>
</body>
</html>