<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head th:replace="partials/elements :: head(title=${user.getUsername()} + ' Profile')"></head>
<body>
<nav th:replace="partials/elements :: navbar"></nav>

<section class="container" id="content-area">
    <div class="container">
        <div class="row">
            <div class="col">
                <h1><span th:text="${user.getUsername()}"></span>'s Profile </h1>
<!--                <small><span th:text="${usercontent.firstName} + ' ' + ${usercontent.lastName}"></span> <span-->
<!--                        th:text="${usercontent.country != null ? 'from ' + usercontent.country : ''}"></span></small>-->
            </div>

        </div>
    </div>
    <section class="container">
        <p th:text="${usercontent.firstName} + ' ' + ${usercontent.lastName}" class="mb-2"></p>
        <p th:text="${usercontent.country}" class="my-2"></p>
        <p class="my-2">Joined on <span th:replace="partials/timestamp :: date(timestamp=${user.getCreatedAt().toInstant().atZone('GMT-0500')})"></span> </p>
    </section>
    <section class="container">
        <h2>Stats</h2>
        <ul class="list-group">
            <!--                total reviews created -->
            <li class="list-group-item bg-transparent border-0">
                <span th:text="${reviews.size()}"></span> reviews written
            </li>
            <!--                total watchlists created -->
            <li class="list-group-item bg-transparent border-0">
                <span th:text="${usercontent.getWatchlists().size()}"></span> watchlists created
            </li>
            <!--                total journals written -->
            <li class="list-group-item bg-transparent border-0">
                <span th:text="${usercontent.getJournals().size()}"></span> journals penned
            </li>
            <!--                all likes received -->
            <li class="list-group-item bg-transparent border-0">
                <div class="likes">
                    <p>
                        <i class="fa fa-heart"></i>
                        <span th:text="${likes}"></span> likes received
                    </p>
                </div>
            </li>
        </ul>
    </section>
    <section class="container">

        <div class="accordion" id="usercontent-accordion">
            <div class="card">
                <div class="card-header" id="heading-reviews">
                    <h2 class="mb-0">
                        <button class="btn btn-link btn-block text-left collapsed content-accordion" type="button" data-toggle="collapse"
                                data-target="#collapse-reviews" aria-expanded="false" aria-controls="collapse-reviews">
                            Reviews
                        </button>
                    </h2>
                </div>

                <div id="collapse-reviews" class="collapse" aria-labelledby="heading-reviews"
                     data-parent="#usercontent-accordion">
                    <div class="card-body">

                        <div th:each="review : ${reviews}">
                            <p class="my-1">Reviewing:
                                <a th:text="${review.getMediaItem().getTitle()}"
                                   th:href="@{/movies/{imdb}(imdb=${review.getMediaItem().getImdb()})}"></a>
                            </p>
                            <p class="my-1">Title:
                                <a th:text="${review.title}"
                                   th:href="@{/reviews/show(r=${review.getId()}, imdb=${review.getMediaItem().getImdb()})}"></a>
                            </p>
                            <p class="mt-1 mb-2">Rating: <span th:text="${review.rating}"></span> / 5</p>
                        </div>

                    </div>
                </div>
            </div>
            <div class="card">
                <div class="card-header" id="heading-watchlists">
                    <h2 class="mb-0">
                        <button class="btn btn-link btn-block text-left collapsed content-accordion" type="button" data-toggle="collapse"
                                data-target="#collapse-watchlists" aria-expanded="false"
                                aria-controls="collapse-watchlist">
                            Watchlists
                        </button>
                    </h2>
                </div>
                <div id="collapse-watchlists" class="collapse" aria-labelledby="heading-watchlists"
                     data-parent="#usercontent-accordion">
                    <div class="card-body">

                        <div th:each="collection : ${usercontent.getWatchlists()}">
                            <a th:text="${collection.getTitle()}"
                               th:href="@{/watchlist/{id}/show(id=${collection.id})}">title</a>
                        </div>

                    </div>
                </div>
            </div>
            <div class="card">
                <div class="card-header" id="heading-journals">
                    <h2 class="mb-0">
                        <button class="btn btn-link btn-block text-left collapsed content-accordion" type="button" data-toggle="collapse"
                                data-target="#collapse-journals" aria-expanded="false"
                                aria-controls="collapse-journals">
                            Journals
                        </button>
                    </h2>
                </div>
                <div id="collapse-journals" class="collapse" aria-labelledby="heading-journals"
                     data-parent="#usercontent-accordion">
                    <div class="card-body">

                        <div th:each="journal : ${usercontent.getJournals()}">
                            <a th:text="${journal.getTitle()}" th:href="@{/journals(id=${journal.id})}">title</a>
                        </div>

                    </div>
                </div>
            </div>
        </div>

        <div class="my-2 text-right" th:if="${isOwner}">
            <a class="btn btn-danger" th:href="@{/profile/{userId}/edit(userId = ${usercontent.getId()})}">Edit
                Profile</a>
            <a class="btn btn-danger" th:href="@{/update-password/{id}(id = ${user.getId()})}">Change
                Password</a>
        </div>

    </section>
</section>
<th:block th:replace="partials/elements :: footer"></th:block>
</body>
</html>
