<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head th:replace="partials/elements :: head(title='FilmSage Index')"></head>
<body>
<nav th:replace="partials/elements :: navbar"></nav>

<section class="container" id="content-area">
    <div class="container">
        <h2><span th:text="${user.getUsername()}"> </span> Profile Page</h2>
        <a class="btn btn-danger" th:href="@{/profile/{userId}/edit (userId = ${usercontent.getId()})}">Edit
            Profile</a>
    </div>
    <div class="container">
        <ul>
            <li>First Name: <span th:text="${usercontent.firstName}"></span></li>
            <li>Last Name: <span th:text="${usercontent.lastName}"></span></li>
            <li>UserName: <span th:text="${user.getUsername()}"></span></li>
            <li>Email: <span th:text="${user.getEmail()}"></span></li>
            <li>Country: <span th:text="${usercontent.getCountry()}"></span></li>
            <li>Password: <a class="btn btn-danger" th:href="@{/update-password/{id} (id = ${user.getId()})}">Change
                Password</a></li>
        </ul>
    </div>
    <section class="container">
        <h3>Reviews</h3>
        <div th:each="review : ${reviews}">

            <a th:text="${review.title}"
               th:href="@{/movies/{imdb}/reviews/(imdb=${review.getMediaItem().getImdb()})}"></a>
        </div>
        <h3>WatchList</h3>
        <div th:each="collection : ${usercontent.getCollections()}">

            <a th:text="${collection.getTitle()}" th:href="@{/watchlist/{id}/show(id=${collection.id})}">title</a>


        </div>

        <div class="likes">
            <p>
                <i class="fa fa-heart"></i>
                <span th:text="${likes}"></span>
            </p>
        </div>

    </section>
    <th:block th:replace="partials/elements :: footer"></th:block>
</body>
</html>
