<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head th:replace="partials/elements :: head(title='FilmSage Index')"></head>
<body>
<nav th:replace="partials/elements :: navbar"></nav>
<section class="container">
    <h1>Profile Update</h1>
</section>
<div class="container" id="content-area">
    <form th:action="@{/profile/{userId}/edit(userId=${user.id})}" th:method="POST" th:object="${user}">
        <div class="form-group">
            <input name="id" type="hidden" th:value="*{id}">
            <label for="first-Name">First Name: </label>
            <input type="text" class="field" id="first-Name" th:field="*{firstName}">
            <br>
            <label for="last-Name">Last Name: </label>
            <input type="text" class="field" id="last-Name" th:field="*{lastName}">
            <br>
            <label for="country">Country: </label>
            <input type="text" id="country" class="field" th:field="*{country}">

            <!--            <a th:href="@{/profile/edit}">Edit My Profile </a>-->
        </div>
        <button type="submit" class="btn btn-primary">Submit</button>
    </form>
</div>


<th:block th:replace="partials/elements :: footer"></th:block>
</body>
</html>
