<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head th:replace="partials/elements :: head(title='FilmSage Index')"></head>
<body>
<nav th:replace="partials/elements :: navbar"></nav>

<section class="container">
    <div class="card">
        <div class = "card-body">
            <h2 class="card-title" th:text="${collections.getTitle}">Collections </h2>
        </div>
    </div>

</section>

<th:block th:replace="partials/elements :: footer"></th:block>
</body>
</html>