<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head th:replace="partials/elements :: head(title='Watchlists Index for ' + ${for})"></head>
<body>
<nav th:replace="partials/elements :: navbar"></nav>

<section class="container" id="content-area">
    <div th:switch="${for}">
        <h1 th:case="'movie'">All watchlists featuring <a th:href="@{/movies/{imdb}(imdb=${movie.imdb})}" th:text="${movie.title}">Movie</a></h1>
        <h1 th:case="'user'">All watchlists created by <a th:href="@{/profile/{id}(id=${user.getId()})}" th:text="${user.getUser().getUsername()}">User</a></h1>
        <h1 th:case="'all'">All watchlists</h1>
    </div>
    <div th:each= "watchlist : ${watchlists}">
        <h3>
            <a th:text="${watchlist.title}" th:href="@{/watchlist/{id}/show(id=${watchlist.id})}">
                Watchlist title
            </a>
        </h3>
        <p>Created by: <a th:href="@{/profile/{userId}(userId=${watchlist.getUserContent().id})}" th:text="${watchlist.getUserContent().getUser().getUsername()}"></a></p>
    </div>

</section>

<th:block th:replace="partials/elements :: footer"></th:block>
</body>
</html>