<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head th:replace="partials/elements :: head(title='FilmSage Index')"></head>
<body>
<nav th:replace="partials/elements :: navbar"></nav>

<section class="container">
    <h1>Collections</h1>
    <div class="card-body" th:each= "watchlist : ${watchlists}">
        <h3 class="card-title" th:text="${watchlist.title}">Collection Title</h3>
    </div>

</section>

<th:block th:replace="partials/elements :: footer"></th:block>
</body>
</html>