<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head th:replace="partials/elements :: head(title='All Watchlists')"></head>
<body>
<nav th:replace="partials/elements :: navbar"></nav>

<section class="container" id="content-area">
    <h1>Collections</h1>
    <div th:each= "watchlist : ${watchlists}">
        <h3>
            <a th:text="${watchlist.title}" th:href="@{/watchlist/{id}/show(id=${watchlist.id})}">
                Watchlist title
            </a>
        </h3>
        <p th:text="${watchlist.getUserContent().getUser().getUsername()}"></p>
    </div>

</section>

<th:block th:replace="partials/elements :: footer"></th:block>
</body>
</html>