<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head th:replace="partials/elements :: head(title='Individual Movies Collection')"></head>
<body>
<nav th:replace="partials/elements :: navbar"></nav>

<section class="container">
    <h1 th:text="${watchlist.title}">Collection title</h1>
    <p th:text="${#temporals.format(watchlist.getCreatedAt().toInstant(), 'dd-MM-yyyy HH:mm')}">Created at</p>
    <div class="container row" th:each="item : ${mediaItems}">
        <div class="col-3">
            <img class="img-fluid" th:src="${item.poster}" th:alt="${'Promotional poster for ' + item.title}"
                 style="max-height: 15vh"/>
        </div>
        <div class="col-9">
            <p th:text="${item.title}"></p>
            <p th:text="${item.year}"></p>
            <p th:text="${item.genre}"></p>

            <form th:action="@{/deleteFromWatchlist}" th:method="POST" >
                <input name="id" type="hidden" th:value="${watchlist.id}" >
                <input name="imdb" type="hidden" th:value="${item.imdb}">
                <button type="submit">Remove</button>
            </form>
            <br>
            <br>
        </div>
    </div>
</section>
<p><a th:href="@{/watchlist}" th:text="${'Back to index'}"></a></p>
<th:block th:replace="partials/elements :: footer"></th:block>
</body>
</html>