<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head th:replace="partials/elements :: head(title=${watchlist.title} + ' - Watchlist')"></head>
<body>
<nav th:replace="partials/elements :: navbar"></nav>

<section class="container" id="content-area">
    <div class="d-flex">
        <h1 th:text="${watchlist.title}">Collection title</h1>
        <p class="ml-auto mr-0"><a class="btn btn-danger" th:href="@{/watchlist}" th:text="${'Back to index'}"></a></p>
    </div>
    <h2><a th:href="@{/profile/{userId}(userId=${watchlist.getUserContent().id})}" th:text="'Created by: ' + ${watchlist.getUserContent().getUser().getUsername()}"></a></h2>
    <p>
        Created at: <span th:replace="partials/timestamp :: timeanddate(instant=${watchlist.getCreatedAt().toInstant().atZone('GMT-0500')})"></span>
    </p>
    <div class="container row" th:each="item : ${mediaItems}">
        <div class="col my-2 p-1 shadow-sm">
            <a class="d-flex" th:href="@{/movies/{imdb}(imdb=${item.imdb})}">
                <img class="img-fluid mr-3" style="max-height: 200px" th:src="${item.poster}"
                     th:alt="${'Poster for ' + item.title}"/>
                <div>
                    <h5 class="card-title" th:text="${item.title}"></h5>
                    <p class="card-text" th:text="${item.year}"></p>
                    <p class="card-text" th:text="${item.genre}"></p>
                    <form class="form-group" th:if="${canDelete}" th:action="@{/watchlist/deleteitem}" th:method="POST">
                        <input name="id" type="hidden" th:value="${watchlist.id}">
                        <input class="form-control" name="imdb" type="hidden" th:value="${item.imdb}">
                        <button class="btn btn-danger" type="submit">Remove</button>
                    </form>
                </div>
            </a>
        </div>
    </div>
  
    <button class="btn btn-danger" id="report-abuse" data-type="watchlist" th:data-id="${watchlist.id}" >Report Abusive Content </button>
    <div class="d-flex">
        <p class="ml-auto mr-0"><a class="btn btn-danger" th:href="@{/watchlist}" th:text="${'Back to index'}"></a></p>
    </div>

</section>
<th:block th:replace="partials/elements :: footer"></th:block>
<script th:src="@{/js/report-abuse-button.js}"></script>
</body>
</html>