<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head th:replace="partials/elements :: head(title='Individual Movies Collection')"></head>
<body>
<nav th:replace="partials/elements :: navbar"></nav>

<section class="container">
    <h1 class="card-title" th:text="${watchlist.title}">Collection title</h1>
    <div class="container" th:each="item : ${watchlist.mediaItems}">
        <p th:text="${item.imdb}"></p>
    </div>
</section>

<th:block th:replace="partials/elements :: footer"></th:block>
</body>
</html>