<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head th:replace="partials/elements :: head(title='Journal Index')"></head>
<body>
<nav th:replace="partials/elements :: navbar"></nav>

<section class="container" id="content-area">
    <div class="d-flex">
        <h1>Journal Page</h1>
        <div class="ml-md-auto mr-md-0 ml-0">
            <a th:href="@{/journals/create}" class="btn btn-danger" sec:authorize="isAuthenticated()">
                Create Journal Post
            </a>
        </div>
    </div>
    <div class="container" id="journals-container">
        <div th:each="journal : ${journals}">
            <a th:href="@{/journals(id=${journal.id})}">
                <h3 th:text="${journal.title}">Journal title</h3>
            </a>

            <a th:href="@{/journals(id=${journal.id})}"></a>
            <p>Created by:
                 <a
                        th:text="${journal.getUserContent().getUser().getUsername()}"
                        th:href="@{/profile/{userId}(userId=${journal.getUserContent().id})}"
                >
                    Journal title
                </a></p>
<!--            </a>-->
            <p th:text="${journal.body}">Journal body...</p>
        </div>
    </div>
</section>
<th:block th:replace="partials/elements :: footer"></th:block>
</body>
</html>
