<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head th:replace="partials/elements :: head(title='Journal')"></head>
<body>
<nav th:replace="partials/elements :: navbar"></nav>

<section class="container">
    <h1>Viewing Journal</h1>
    <h2 th:text="${journal.title}">Journal title</h2>
    <p th:text="${journal.body}">Journal body</p>
    <p th:text="${journal.getUserContent().getUser().getUsername()}">Creator username</p>
</section>

<th:block th:replace="partials/elements :: footer"></th:block>
</body>
</html>