<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head th:replace="partials/elements :: head(title='Journal')"></head>
<body>
<nav th:replace="partials/elements :: navbar"></nav>

<section class="container" id="content-area">
    <h1>Viewing Journal</h1>
    <div class="container">
        <th:block th:replace="partials/content/journals-nav" :: nav/>
    </div>
    <div class="container">
        <h2 th:text="${journal.title}">Journal title</h2>
        <p th:text="${journal.body}">Journal body</p>
        <p>
            <a
                    th:href="@{/journals(user=${journal.getUserContent().getId()})}"
                    th:text="${journal.getUserContent().getUser().getUsername()}"
            >
                Creator username
            </a>
        </p>
        <a class="btn btn-danger" th:href="@{/journals/{id}/edit(id = ${journal.id})}">Edit</a>
        <a class="btn btn-danger" th:href="@{/journals/{id}/delete(id = ${journal.id})}">Delete</a>
        <p th:text="${#temporals.format(journal.getCreatedAt().toInstant(), 'dd-MM-yyyy HH:mm')}">Created at</p>
    </div>
</section>
<a th:href="@{/report/{id}(id=${journal.id})}">Report Abusive Content </a>
<p><a th:href="@{/journals(user=${journal.getUserContent().getId()})}"
      th:text="${'Back to ' + journal.getUserContent().getUser().getUsername()}"></a></p>
<th:block th:replace="partials/elements :: footer"></th:block>
</body>
</html>