<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head th:fragment="head(title)">
    <meta charset="UTF-8">
    <title th:text="${title} + ' - FilmSage'">Title TBD - FilmSage</title>
    <th:block th:replace="partials/bootstrap :: styles"></th:block>
    <link rel="stylesheet" th:href="@{/css/main.css}">
</head>

<nav class="navbar navbar-expand-lg navbar-light bg-light" th:fragment="navbar">
    <a class="navbar-brand" href="/"><img th:src="@{/static/images/filmSageLogo.png}" alt="film-sage logo" class="img-Fluid">FilmSage</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">

        <div sec:authorize="isAuthenticated()">
            <a th:href="@{/profile}">
                <button class="btn-link btn">Profile</button>
            </a>
        </div>
        <form class="form-inline my-2 my-lg-0 mr-auto" th:action="@{/search}" th:method="GET">
            <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search" name="q">
            <button class="btn btn-outline-danger my-2 my-sm-0" type="submit">Search</button>
        </form>
        <div>
            <span><strong>|</strong></span>
            <a th:href="@{/journals}">Journals</a>
            <span><strong>|</strong></span>
            <a th:href="@{/reviews/index}">Reviews</a>
            <span><strong>|</strong></span>
            <a th:href="@{/about-us}">About the Magical Quartet</a>
            <span><strong>|</strong></span>
        </div>
        <ul class="navbar-nav mr-2 ml-auto" >
            <li  sec:authorize="!isAuthenticated()" class="nav-item active">
                <a class="nav-link" href="/login">Login</a>
            </li>
            <li sec:authorize="isAnonymous()" class="nav-item active">
                <a class="nav-link" href="/register">Register</a>
            </li>

            <li sec:authorize="isAuthenticated()" >
                <form th:action="@{/logout}" th:method="post">
                    <button class="btn-link btn">Logout</button>
                </form>
            </li>
        </ul>

    </div>
</nav>

<th:block th:fragment="footer">
    <th:block th:replace="partials/bootstrap :: scripts"></th:block>
</th:block>
</html>