<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<body>
<div th:fragment="mediaitemslist(listofmovies)">
    <section class="container-fluid">
        <div class="row">
            <div class="col-6 col-md-4 col-lg-3 my-2 px-1" th:each="movie : ${listofmovies}">
                <div class="card h-100" style="background-color: whitesmoke !important;">
                    <a th:href="@{/movies/{imdb}(imdb=${movie.imdb})}">
                        <img class="card-img-top" th:src="${movie.poster}" th:alt="${'Poster for ' + movie.title}"/>
                        <div class="card-body">
                            <h5 class="card-title" th:text="${movie.title}"></h5>
                            <p class="card-text" th:text="${movie.year}"></p>
                            <p class="card-text" th:text="${movie.genre}"></p>
                        </div>
                    </a>
                </div>
            </div>
        </div>
    </section>
</div>
</body>
</html>