<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<section th:fragment="review-list(reviews)">
    <div th:each="review : ${reviews}">
        <h3>
            <a th:href="@{/reviews/show(imdb=${review.getMediaItem().getImdb()},r=${review.id})}"
               th:text="${review.title}">
                review title
            </a>
        </h3>
        <p>Created by:
        <a th:text="${review.getUserContent().getUser().getUsername()}" th:href="@{/profile/{userId}(userId=${review.getUserContent().id})}">
            Posted by user
        </a></p>
    </div>
</section>
