<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<span th:fragment="timeanddate(instant)">
<!--    <span th:replace="partials/timestamp :: time(timestamp=${instant})"></span>-->
    <span th:replace="partials/timestamp :: date(timestamp=${instant})"></span>
</span>

<span th:fragment="time(timestamp)">
    <span th:text="${#temporals.hour(timestamp) < 10 ? '0' + #temporals.hour(timestamp) : #temporals.hour(timestamp) } + ':'
    + ${#temporals.minute(timestamp) < 10 ? '0' + #temporals.minute(timestamp) : #temporals.minute(timestamp)} + ':'
     + ${#temporals.second(timestamp) < 10 ? '0' + #temporals.second(timestamp) : #temporals.second(timestamp)}"></span>
</span>

<span th:fragment="date(timestamp)">

    <span th:text="${#temporals.monthName(timestamp)} + ' '
    + ${#temporals.day(timestamp)} + ', '
    + ${#temporals.year(timestamp)}"></span>
</span>