<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head th:replace="partials/elements :: head(title='FilmSage Index')"></head>
<body>
<nav th:replace="partials/elements :: navbar"></nav>
<h2>Profile Page</h2>
<img src="img.jpg" alt="James" style="width:100%">


<ul>
    <li> First Name</li>

    <li> Last Name</li>

    <li>Username</li>

    <li>Email</li>

    <li>Password</li>

    <li><a href="#">Reset-Password</a></li>

    <li>Posts</li>
</ul>

<button class="btn btn-primary">Movie Name</button>
<button class="btn btn-primary">Contact</button>

<footer>
    <div class="likes">
        <p><i class="fa fa-heart"></i></p>
        <p>This is the number of likes </p>
    </div>
</footer>
</body>
</html>
