<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <title>Ooops, Not Found</title>
</head>
<body>
<section id="error-page">
<h1>Page not found!!</h1>
<a href="#"><img th:src="@{~/img/404popcorn.png}"></a>
<p>If you came to this page by mistake, trying checking the URL in your web browser </p>
<!--<iframe-->
<!--        width="420"-->
<!--        height="315"-->
<!--        src="https://www.youtube.com/embed/NN75im_us4k?autoplay=1"-->
<!--        frameborder="0"-->
<!--        allowfullscreen="allowfullscreen"-->
<!--&gt;-->
<!--</iframe>-->
</section>
</body>
</html>