body{
    /*background-color: #8b0000;*/
    background: rgb(131,58,180);
    background: linear-gradient(90deg, rgba(131,58,180,1) 0%, rgba(140,17,8,1) 52%, rgba(252,176,69,1) 100%) !important;
}

#content-area{
    background-color: aliceblue;
    padding: 2rem;
}

#logo{
    height: 20%;
    width: 20%;
    padding-right: .66rem;
}
/*.navbar{*/
/*    background-color: black;*/
/*}*/

/*a:hover{*/
/*    background-color: red;*/
/*}*/