<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head th:replace="partials/elements :: head(title='Create Movie Collection')"></head>
<body>
<nav th:replace="partials/elements :: navbar"></nav>

<section class="container">
    <form th:action='@{/collection/create}' th:method="POST" th:object="${collection}">
        <div class = "form-group">
            <label for="title">Movie Title</label>
            <input type="text" class="form-control" id=title placeholder="input movie title" name="title" th:field="*{title}">
        </div>
        <button type="submit" class="btn btn-primary">Search</button>
    </form>
</section>

<th:block th:replace="partials/elements :: footer"></th:block>
</body>
</html>