<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head th:replace="partials/elements :: head(title='FilmSage Index')"></head>
<body>
<nav th:replace="partials/elements :: navbar"></nav>

<section class="container" id="content-area">
    <div class="jumbotron">
        <h1 class="display-4">Welcome to FilmSage!</h1>
        <p class="lead"> FilmSage was created for movie watchers like you to share
            your personal thoughts and reviews on your favorite movies with other users.
            Read real reviews from other movie lovers, vote on reviews you like,
            curate a personal watch list of MUST-SEE movies and organize your
            favorite movies in your own personal journal.
            FilmSage is a place for all movie lovers.</p>
        <p class="lead">
            <a class="btn btn-danger btn-lg" href="/register" role="button">Register</a>
        </p>
    </div>

    <th:block th:replace="partials/mediaitemlist :: mediaitemslist(listofmovies=${movies})"></th:block>
</section>

<th:block th:replace="partials/elements :: footer"></th:block>
</body>
</html>
