<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head th:replace="partials/elements :: head(title='FilmSage Index')"></head>
<body>
<nav th:replace="partials/elements :: navbar"></nav>

<section class="container">
  <h1>Movie Review</h1>
</section>
<div class="container">
  <form th:action="@{/review}" th:method="post" th:object="${review}">
<!--  <form action="/userReview" method="post">-->
    <div class="form-group">
      <label>Review Title</label>
      <br>
<!--      <input type="text" name="title">-->
      <input th:field="*{title}" class="field">
      <br>
      <label >Review Body</label>
      <br>
      <textarea th:field="*{body}" cols="30" rows="10" ></textarea>
<!--      <textarea name="body" id="body" cols="30" rows="10"></textarea>-->
    </div>
    <button type="submit">Submit</button>
  </form>

  <div>
    <p th:text="*{review.title}"></p>
    <p th:text="*{review.body}"></p>
  </div>


</div>



<th:block th:replace="partials/elements :: footer"></th:block>
</body>
</html>
