<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head th:replace="partials/elements :: head(title='FilmSage Index')"></head>
<body>
<nav th:replace="partials/elements :: navbar"></nav>

<section class="container">
    <div class =card-body">
        <h1 class = "card-title" th:text="${singleMovie.getTitle}"></h1>
        <p class="card-text" th:text="${singleMovie.getBody()}"></p>
    </div>
</section>

<th:block th:replace="partials/elements :: footer"></th:block>
</body>
</html>