<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head th:replace="partials/elements :: head(title='FilmSage Index')"></head>
<body>
<nav th:replace="partials/elements-without-registerLink :: navbar"></nav>

<section class="container">
  <h1>Update Password</h1>
</section>

<div class="container">
  <form th:action="@{/update-password}" method="POST" th:object="${userPassword}" >
    <div class="form-group">
      <input name="id" type="hidden" th:value="*{id}"></input>
      <label for="oldpassword">Current Password: </label>
      <input type="password" class="field" id="oldpassword" name="oldpassword" th:field="*{oldpassword}" />
      <br>
      <label for="password">New Password: </label>
      <input type="password" id="password" class="field" name="password" th:field="*{password}"/>
      <br>
      <label for="confirmpassword">Confirm Password: </label>
      <input type="password" id="confirmpassword" class="field" name="confirmpassword" th:field="*{confirmpassword}"/>

    </div>
    <button type="submit">Submit</button>
  </form>
</div>


<th:block th:replace="partials/elements :: footer"></th:block>
</body>
</html>
