<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security" lang="en">
<head th:replace="partials/elements :: head(title='About Us')"></head>
<body>
<nav th:replace="partials/elements :: navbar"></nav>
<section class="container" id="content-area">
    <div class="about-us-section">
        <h1>About the team</h1>
        <p>FilmSage is designed by a team of dedicated, season and passionate minds.</p>
        <p>We are a team of four, passionate about modern technology deliveries and modernization.</p>
    </div>
    <h2 style="text-align: center">Our Team</h2>
    <div class="row justify-content-center">
        <div class="col-sm col-md-6">
            <div class="card mb-2">
                <img class="mx-auto d-block" src="https://via.placeholder.com/100" alt="James" style="width: 50%">
                <div class="container">
                    <h2>James Wienecke</h2>
                    <p class="title">Junior Software Engineer</p>
                    <p>James Wienecke is a dedicated Software Engineer. With experience in technologies such as Java,
                        JavaScript, React, Dokku, </p>
                    <p>He is technology savy. He studied computer science at the UTSA for over 50 hours credit</p>
                    <p>james@</p>
                    <p>
                        <button class="button">Contact</button>
                    </p>
                    <div class="wrapper d-flex">
                        <div class="mr-4">
                            <a href="#" class="icon github">
                                <div class="tooltip">Github</div>
                                <span><i class="fab fa-github"></i></span>
                            </a>
                        </div>

                        <div>
                            <a href="#" class="icon linkedin mr-2">
                                <div class="tooltip">LinkedIn</div>
                                <span><i class="fab fa-linkedin"></i></span>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="col-sm col-md-6">
            <div class="card mb-2">
                <img class="mx-auto d-block" src="https://via.placeholder.com/100" alt="Eva" style="width: 50%">
                <div class="container">
                    <h2>Eva Brechum</h2>
                    <p class="title">Junior Software Engineer</p>
                    <p>Eva Brechum is a dedicated Software Engineer. With experience in technologies such as Java,
                        JavaScript, React, Dokku, </p>
                    <p>He is technology savy. He studied computer science at the UTSA for over 50 hours credit</p>
                    <p>james@</p>
                    <p>
                        <button class="button">Contact</button>
                    </p>
                    <div class="wrapper d-flex">
                        <div class="mr-4">
                            <a href="#" class="icon github">
                                <div class="tooltip">Github</div>
                                <span><i class="fab fa-github"></i></span>
                            </a>
                        </div>

                        <div>
                            <a href="#" class="icon linkedin mr-2">
                                <div class="tooltip">LinkedIn</div>
                                <span><i class="fab fa-linkedin"></i></span>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="col-sm col-md-6">
            <div class="card mb-2">
                <img class="mx-auto d-block" src="https://via.placeholder.com/100" alt="Alfonso" style="width: 50%">
                <div class="container">
                    <h2>Alfonso Carrillo</h2>
                    <p class="title">Junior Software Engineer</p>
                    <p>Alfonso Carrillo is a dedicated Software Engineer. With experience in technologies such as Java,
                        JavaScript, React, Dokku, </p>
                    <p>He is technology savy. He studied computer science at the UTSA for over 50 hours credit</p>
                    <p>james@</p>
                    <p>
                        <button class="button">Contact</button>
                    </p>
                    <div class="wrapper d-flex">
                        <div class="mr-4">
                            <a href="#" class="icon github">
                                <div class="tooltip">Github</div>
                                <span><i class="fab fa-github"></i></span>
                            </a>
                        </div>
                        <div>
                            <a href="#" class="icon linkedin mr-2">
                                <div class="tooltip">LinkedIn</div>
                                <span><i class="fab fa-linkedin"></i></span>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="col-sm col-md-6">
            <div class="card mb-2">
                <img class="mx-auto d-block" src="https://via.placeholder.com/100" alt="Sabastain" style="width: 50%">
                <div class="container">
                    <h2>Sabastain Wakoyi</h2>
                    <p class="title">Junior Software Engineer</p>
                    <p>Sabastain Wakoyi is a dedicated Software Engineer. With experience in technologies such as Java,
                        JavaScript, React, Dokku, </p>
                    <p>He is technology savy. He studied computer science at the UTSA for over 50 hours credit</p>
                    <p>james@</p>
                    <p>
                        <button class="button">Contact</button>
                    </p>
                    <div class="wrapper d-flex">
                        <div class="mr-4">
                            <a href="#" class="icon github">
                                <div class="tooltip">Github</div>
                                <span><i class="fab fa-github"></i></span>
                            </a>
                        </div>
                        <div>
                            <a href="#" class="icon linkedin ">
                                <div class="tooltip">LinkedIn</div>
                                <span><i class="fab fa-linkedin"></i></span>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
</body>
</html>