<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security" lang="en">
<head th:replace="partials/elements :: head(title='About Us')"></head>
<body>
<nav th:replace="partials/elements :: navbar"></nav>
<section class="container" id="content-area">
    <div class="about-us-section">
        <h1>About the team</h1>
        <p>FilmSage was designed and built by a team in less than a month.</p>
        <p>We are a team of four developers who joined together to build a full stack web application. Our focus was to
        deliver a full-featured modern experience leveraging the Spring Boot framework.</p>
        <p>You can contact the team at <a href="mailto:team.filmsage@gmail.com">team.filmsage@gmail.com</a></p>
    </div>
    <h2 style="text-align: center">Our Team</h2>
    <div class="row justify-content-center">
        <div class="col-sm col-md-6 my-2">
            <div class="au-cards h-100">
                <img class="mx-auto d-block mt-3 au-headshots" th:src="@{~/img/James.jpeg}" alt="James">
                <div class="container">
                    <h2 class="text-center">James Wienecke</h2>
                    <p class="title text-center">Junior Software Engineer</p>
                    <p>James is an eager developer and team player. He knows Java, Spring Boot, MySQL, JavaScript/TypeScript, React.</p>
                    <p>A fast learner with a community-focused mindset, he planned, organized, and built much of the back end. He also fulfilled the role of DevOps on this project.</p>

                    <div class="wrapper d-flex">
                        <div class="mr-4">
                            <a href="https://github.com/james-wienecke" class="icon github">
                                <div class="tooltip">Github</div>
                                <span><i class="fab fa-github"></i></span>
                            </a>
                        </div>

                        <div>
                            <a href="https://www.linkedin.com/in/james-a-wienecke/" class="icon linkedin mr-2">
                                <div class="tooltip">LinkedIn</div>
                                <span><i class="fab fa-linkedin"></i></span>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="col-sm col-md-6 my-2">
            <div class="au-cards h-100">
                <img class="mx-auto d-block mt-3 au-headshots" th:src="@{~/img/Eva Brechum.jpg}" alt="Eva">
                <div class="container">
                    <h2 class="text-center">Eva Brechum</h2>
                    <p class="title text-center">Junior Software Engineer</p>
                    <p>Eva Brechum is a dedicated Software Engineer. With experience in technologies such as Java,
                        JavaScript, React, Dokku, </p>
                    <p>He is technology savy. He studied computer science at the UTSA for over 50 hours credit</p>

                    <div class="wrapper d-flex">
                        <div class="mr-4">
                            <a href="https://github.com/eva-brechum" class="icon github">
                                <div class="tooltip">Github</div>
                                <span><i class="fab fa-github"></i></span>
                            </a>
                        </div>

                        <div>
                            <a href="https://www.linkedin.com/in/eva-brechum/" class="icon linkedin mr-2">
                                <div class="tooltip">LinkedIn</div>
                                <span><i class="fab fa-linkedin"></i></span>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="col-sm col-md-6 my-2">
            <div class="au-cards h-100">
                <img class="mx-auto d-block mt-3 au-headshots" th:src="@{~/img/Alfonso.jpg}" alt="Alfonso">
                <div class="container">
                    <h2 class="text-center">Alfonso Carrillo</h2>
                    <p class="title text-center">Junior Software Engineer</p>
                    <p>Alfonso Carrillo is a dedicated Software Engineer. With experience in technologies such as Java,
                        JavaScript, React, Dokku, </p>
                    <p>He is technology savy. He studied computer science at the UTSA for over 50 hours credit</p>

                    <div class="wrapper d-flex">
                        <div class="mr-4">
                            <a href="https://github.com/alfonso-ivan-carrillo" class="icon github">
                                <div class="tooltip">Github</div>
                                <span><i class="fab fa-github"></i></span>
                            </a>
                        </div>
                        <div>
                            <a href="https://www.linkedin.com/in/alfonso-ivan-carrillo/" class="icon linkedin mr-2">
                                <div class="tooltip">LinkedIn</div>
                                <span><i class="fab fa-linkedin"></i></span>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="col-sm col-md-6 my-2">
            <div class="au-cards h-100">
                <img class="mx-auto d-block mt-3 au-headshots"  th:src="@{~/img/Sabastain-PP.jpg}" alt="Sabastain">
                <div class="container">
                    <h2 class="text-center">Sabastain Wakoyi</h2>
                    <p class="title text-center">Junior Software Engineer</p>
                    <p>Sabastain Wakoyi is a dedicated Software Engineer. With experience in technologies such as Java,
                        JavaScript, React, Dokku, </p>
                    <p>He is technology savy. He studied computer science at the UTSA for over 50 hours credit</p>

                    <div class="wrapper d-flex">
                        <div class="mr-4">
                            <a href="https://github.com/Sabastain-Wakoyi" class="icon github">
                                <div class="tooltip">Github</div>
                                <span><i class="fab fa-github"></i></span>
                            </a>
                        </div>
                        <div>
                            <a href="https://www.linkedin.com/in/sabastain-wakoyi/" class="icon linkedin ">
                                <div class="tooltip">LinkedIn</div>
                                <span><i class="fab fa-linkedin"></i></span>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
</body>
</html>